<script type="text/x-jquery-tmpl" id="dataTemplate">
	{{each messages}}
		<p>{$value}</p>
	{{/each}}
</script>
<h1>Main</h1>
<div>
	<button>News</button>
	<button>About</button>
</div>
<div id="data">
	
</div>